/* ここから下に記載していく */

body {
    /* display: flex;
    justify-content:center;
    align-items: center; */
    font-family: Georgia, serif;

    background-image: url('../img/background.png');
    /* background-size: auto;
    background-position: center;
    background-repeat: repeat; */
}

/* topの範囲は、helloまで */
/* 表示を真ん中に揃えます */
.top {
    text-align: center;
}


h1 {
    color: #4F4F4F;
    font-size: 36px;
    margin: 50px 0;
}

button {
    color:#4F4F4F;
    font-size: 24px;
    cursor: pointer;
    margin: 50px;
    padding: 10px 40px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    background-color: #ccc;
}


.view {
    width: 75%;
    /* この要素の幅を、親要素の75%に設定 */
    max: width 200px;
    /* スマホでも見れるピクセル */
    display:none;
    /* はじめは消えててね */
    cursor: pointer;
    margin:50px;
    /* 拡大しても文字が消えないように */
    transition: transform 0.3s ease;
    /* 0.3行で滑らかに変更。 */
}

.view:hover {
    transform: scale(1.05);
    /* ホバー時に少し拡大 */
}

/* なにもないのは、HTMLタグそのもの */
/* .（ドット）は、「クラス」につける */
/* #（ハッシュ）は、「id」につける*/


#hello,#result,#question {
    font-size: 36px;
    /* 質問の倍のサイズ */
    font-family: Georgia, serif;
    color: #555555;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 40px;
    /* 質問ボックスより余白を少し増やす */
    margin: 20px 100px;
    width: auto;
    display: none;
    /* はじめは消えててね */
}


#hello {
    text-align: left;
}


.choice-btn {
    font-size: 30px;
    font-family: Georgia, serif;
    color: #333333;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 30px;
    margin: 20px 50px;
    width: auto;
    cursor: pointer;
    height: auto;
    text-align: left;
}

.choice-btn:hover {
    background-color: lightgray;
}