/*
Coach Summoning Section
================================================ */
body {
    font-family: Georgia, serif;
    background-image: url('../img/background.png');
}
.top {
    text-align: center;
/* topの範囲は、helloまで */
/* 表示を真ん中に揃えます */
}
h1 {
    color: #4F4F4F;
    font-size: 36px;
    margin: 400px 0px 200px 0px;
}
button {
    color:#4F4F4F;
    font-size: 30px;
    cursor: pointer;
    margin: 50px;
    padding: 10px 40px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-family: Georgia, serif;
    transition: transform 0.3s ease;
    /* 0.3行で滑らかに変更。 */
}
button:hover {
    background-color: #ccc;
    transform: scale(1.05);
    /* ホバー時に少し拡大 */
}
.view {
    width: 75%;
    /* この要素の幅を、親要素の75%に設定 */
    max: width 200px;
    /* スマホでも見れるピクセル */
    display:none;
    /* はじめは消えててね */
    cursor: pointer;
    margin:50px;
    /* 拡大しても文字が消えないように */
    transition: transform 0.3s ease;
    /* 0.3行で滑らかに変更。 */
}
.view:hover {
    transform: scale(1.05);
    /* ホバー時に少し拡大 */
}

/*
LOADING
================================================ */
#loading {
    display: none;
    background-color: #eee;
    /*  --light-grey: #eee; */
    position: fixed;
    /* 背景画像を固定表示 */
    inset: 0;
    /* 画面全体を覆う＝(top:0;rigth:0;botto:0;left:0;） */
    z-index: 9999;
    place-items: center;
}
#loading-screen {
    background-color: #d5edeb;
    /* --light-green: #d5edeb; */
    position: fixed;
    inset: 0;
    z-index: 9998;
    translate: 0 100vh;
    /* cssを横x,縦yに動かすプロパティ
    横(x=0)に動かず、縦（y=100vp)に
    画面全体の高さ(viewport height）下に動かす（見えず）
    */
}
#loading-text {
    font-size: 24px;
    font-family: Georgia, serif;
    margin: 350px;
}

/*
Question Section
================================================ */
#hello,#result,#question {
/* なにもないのは、HTMLタグそのもの */
/* .（ドット）は、「クラス」につける */
/* #（ハッシュ）は、「id」につける*/
    font-size: 36px;
    /* 質問の倍のサイズ */
    font-family: Georgia, serif;
    color: #555555;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 40px;
    /* 質問ボックスより余白を少し増やす */
    margin: 20px 100px;
    width: auto;
    display: none;
    /* はじめは消えててね */
}
#hello {
    text-align: left;
}
.choice-btn {
    font-size: 30px;
    font-family: Georgia, serif;
    color: #333333;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 30px;
    margin: 20px 50px;
    width: auto;
    cursor: pointer;
    height: auto;
    text-align: left;
}
.choice-btn:hover {
    background-color: lightgray;
}